<script type="text/javascript">

    RED.nodes.registerType('cryptoqrcode',{
        category: 'Crypto',
        color: '#4e83a2',
        defaults: {
            name: {value:""},
            filename: {value:"/data/bitcoin-address-qr-code.png"},
            prefix: {value:"bitcoin:"}
        },
        inputs:1,
        outputs:1,
        inputLabels: "input bitcoin address or other text",
        outputLabels: ["output"],
        icon: "font-awesome/fa-qrcode",
        label: function() {
            return this.name||'crypto to qrcode';
        }
    });
</script>

<script type="text/x-red" data-template-name="cryptoqrcode">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
         <label for="node-input-filename"><i class="fa fa-tag"></i> Filename</label>
         <input type="text" id="node-input-filename">
    </div>
    <div class="form-row">
         <label for="node-input-prefix"><i class="fa fa-tag"></i> Prefix</label>
         <input type="text" id="node-input-prefix">
    </div>
</script>

<script type="text/x-red" data-help-name="cryptoqrcode">
    <p>This node take a bitcoin address and create a qr-code with it.</p>
    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt>payload
            <span class="property-type">string | buffer</span>
        </dt>
        <dd> the payload is the Bitcoin Address or other text input for the QR-Code.</dd>      
    </dl>
    <h3>Outputs</h3>
        <ol class="node-ports">
            <li>Standard output
                <dl class="message-properties">
                    <dt>payload <span class="property-type">string</span></dt>
                    <dd>the standard output of the command. Filepath and Prefix.</dd>
                </dl>
            </li>
        </ol>
    <h3>Details</h3>
        <p><code>msg.payload</code> is the input for the QR-Code generation. You can change the filename and path or the prefix.</p>
    <h3>References</h3>
        <ul>
            <li><a>http://www.wenzlaff.info</a> - full description of the <code>node-red-contrib-cryptography-qr-code</code></li>
        </ul>
</script>
